.finish{
  align-items: center;
}

.finish p{
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  margin-top: 157px;
}

footer{
  background: var(--primary-color);
  height: 399px;
  color: #ffffff;
  clip-path: polygon(0 45%, 100% 0, 100% 100%, 0 100%);
}

.footer-content {
  margin-top: 69px;
}