* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color : #707070;
  --letters-color: #888888;
}

body {
  font-family: 'Helvetica';
  color: var(--letters-color);
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
  background: var(--primary-color);
  height: 399px;
  color: #ffffff;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 65%);
}