@import url(./css/header-style.css);
@import url(./css/reset.css);
@import url(./css/footer-style.css);
@import url(./css/product-cards.css);

button {
  width: 160px;
  height: 40px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--letters-color);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  max-width: 920px;
  width: 100%;
  margin: auto;
}

.content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 79px;
}

.content main,
.content form{
  width: 100%;
}

.content main h2 {
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 30px;
}

.content main p {
  max-width: 100%;
  font-size: 12px;
  line-height: 18px;
}


fieldset {
  border: 0;
}

.form {
  display: flex;
  justify-content: flex-end;
  width: 340px;
  margin-left: 60px;
}

.form  form button{
  width: 340px;
}

.label-components{
  font-size: 12px;
  margin-bottom: 7px;
}

.input-components{
  height: 30px;
  width: 340px;
  border: 1px solid var(--primary-color);
  margin-bottom: 20px;
}

.select {
  margin-bottom: 23px;
  display: flex;
}

.select #female {
  margin-left: 40px;
}

.form button {
  width: 340px;
  font-size: 16px;
  color: var(--letters-color);
  border: 1px solid var(--primary-color);
}

#header-share h2 {
  display: flex;
  margin: auto;
  font-size: 18px;
  margin-bottom: 44px;
}

#header-share h2::before {
  content: '';
  background-color: black;
  width: 351px;
  height: 1px;
  margin-right: 6px;
  margin-top: 11px;
  margin-left: 0;
}

#header-share h2::after {
  content: '';
  background-color: black;
  width: 351px;
  height: 1px;
  margin-left: 5px;
  margin-top: 11px;
  margin-right: 0;
}

#textFriend {
  width: 534px;
  margin: auto;
  margin-bottom: 40px;
}

#textFriend p {
  font-size: 14px;
  margin: auto;
}

.formFriend fieldset {
  margin-bottom: 50px;
  justify-content: space-around;
}

.formFriend fieldset .name {
  margin-right: 40px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.formFriend button {
  width: 260px;
  height: 39px;
  font-size: 16px;
}

.formFriend button {
  margin-bottom: 72px;
}

@media (min-width: 300px) and (max-width: 960px){

  .content main{
    width: 100%;
  }
  
  .content{
    width: 100%;
    flex-direction: column;
  }

  .flex-container{
    max-width: 400px;
    min-width: 300px;
    margin: auto;
    
  }
  
  .text-queries{
    width: 100%;
    height: 220px;
    overflow: hidden;
  }

  .content main{
    margin-bottom: 30px;
  }

  .content main p{
    width: 386px;
    text-align: left;
  }

  .form-querie input,
  .form {
    width: 385px;
    margin-left: 0;
    margin-right: 0;
  }

  #btn-form{
    width: 100%;
  }

  #header-share h2::before {
    content: '';
    background-color: black;
    width: 85px;
    height: 1px;
    margin-right: 6px;
    margin-top: 11px;
    margin-left: 0;
  }

  #header-share h2::after {
    content: '';
    background-color: black;
    width: 90px;
    height: 1px;
    margin-left: 5px;
    margin-top: 11px;
    margin-right: 0;
  }

  #recommendation{
    width: 100%;
  }

  .flex-container #textFriend {
    width: 100%;
    text-align: center;
  }

  .formFriend fieldset{
    flex-direction: column;
  }

  .formFriend fieldset .email-friend{
    display: flex;
    flex-direction: column; 
  }

  .formFriend fieldset .input-components{
    width: 385px;
    margin-right: 0;
    max-width: 100%;
  }


}